@media only screen and (min-width: $sm-breakpoint) {
    .AboutBlock {
        display: grid;
        justify-content: center;
        margin: initial auto;
        margin-top: 5.9375rem;

        .services {
            display: flex;
        }
        .title-container {
            .sub-title {
                z-index: 1;
                max-width: 21.875rem;
                border-radius: 9.375rem 18.75rem 18.75rem 0;
                padding-bottom: 2.875rem;
                padding-right: 3.125rem;
            }
            .background {
                margin-top: -19.4531rem;
                .MagnifyingGlass {
                    width: 6.25rem;
                    height: 6.25rem;
                    bottom: 4.375rem;
                    svg {
                        width: 3.125rem;
                        height: 3.125rem;
                    }
                    &:hover {
                        width: 6.875rem;
                        height: 6.875rem;
                    }
                }
            }
        }
        .services {
            display: flex;
        }
    }
    .BookBlock {
        .priceAndBook {
            display: grid;
            justify-content: right;
            grid-template-columns: auto auto;
            width: 43.75rem;
            margin: 0 auto;
        }
        .cat {
            position: absolute;
        }
    }
    .GiftCardsBlock {
        .dropletContainer {
            grid-template-columns: auto auto auto auto;
        }
    }
}

@media only screen and (min-width: $md-breakpoint) {
    .header {
        &__logo {
            margin-left: 2.8175rem;
        }
    }
    .title-contain {
        .title {
            width: 60.625rem;
            &:hover {
                color: rgba(255, 255, 255, 0.5);
            }
            &-privatni {
                font-size: 5rem;
                line-height: 7.3125rem;
            }
            &-wellness {
                margin-top: -2.875rem;
                width: 100%;
                font-size: 15.625rem;
            }
            svg {
                width: 8.75rem;
                height: 8.75rem;
                right: 0px;
                top: 4.9375rem;
                // top: -1rem;
                padding: 0;
            }
        }
    }
    .slider__wrap {
        .block__slider img {
            max-height: 46.875rem;
            height: auto;
        }
    }
    .menu-wrap {
        bottom: 4.0625rem;
        .menu {
            color: $white;
            bottom: 4.0625rem;
            width: 60.625rem;
            font-size: 1.5625rem;
            &__main {
                width: 38.5625rem;
            }
            &__social {
                width: 16.8125rem;
                a {
                    color: $white;
                }
            }
        }
    }
    .AboutBlock {
        padding-bottom: 2.25rem;
        .title-container {
            .sub-title {
                display: flex;
                align-items: center;
                margin-left: -6.25rem;
                padding: 0 6.25rem 0 6.25rem;
                margin-top: 3.625rem;
                max-width: 35.625rem;
                height: 21.875rem;
                z-index: 1;
            }
            .background {
                margin-top: -35.625rem;
            }
        }
        .services {
            justify-content: space-between;
            width: 63.125rem;
            padding-top: 5rem;
            padding-bottom: 5.375rem;
            font-family: $playfair-font;
            &__item {
                width: 14.375rem;
                height: 12.3125rem;
                font-size: $font-30;
                line-height: 2.5rem;
                svg {
                    padding-bottom: 2.1875rem;
                    stroke: $beige;
                }
                .frame1 {
                    width: 9.375rem;
                    height: 8.0625rem;
                    padding-top: 0.125rem;
                }
                .frame2 {
                    width: 6.25rem;
                    height: 7.0625rem;
                    padding-top: 1.125rem;
                }
                .frame3 {
                    width: 9.375rem;
                    height: 6.0625rem;
                    padding-top: 2.1875rem;
                }
                .frame4 {
                    width: 12.5rem;
                    height: 7.0625rem;
                    padding-top: 1.625rem;
                    padding-bottom: 1.6875rem;
                }
            }
        }
    }

    .BookBlock {
        padding-bottom: 12rem;
        .content {
            padding-top: 6.25rem;
        }
        .title {
            width: 100%;
            letter-spacing: -0.03em;
        }
        .sub-title {
            max-width: 29.375rem;
            margin: 0;
        }
        .priceAndBook {
            width: auto;
            .pricelist {
                max-width: 23.125rem;
                .sub-title {
                    padding-top: 1.0156rem;
                    padding-bottom: 1.0156rem;
                }
                .note {
                    padding-top: 1.875rem;
                    font-size: $font-15;
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
        .cat {
            height: fit-content;
            overflow: hidden;
            user-select: none;
            border-radius: 1.875rem;
            width: 29.375rem;
            font-size: $font-20;
            .cat__header {
                background: $darkdarkblue;
                width: 100%;
                height: 6.25rem;
                .month {
                    width: 100%;
                    height: 4.375rem;
                    display: flex;
                    justify-content: center;
                    .leftArrow {
                        padding-top: 0;
                        padding-bottom: 0.5rem;
                        transform: rotate(180deg);
                    }
                    svg {
                        padding-top: 0.5rem;
                        width: 3.375rem;
                        height: 3.375rem;
                        stroke: $beige;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .month-name {
                        width: 16.875rem;
                        font-family: Playfair Display;
                        font-size: $font-35;
                        line-height: 2.9375rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        letter-spacing: -0.03rem;

                        color: #f5f2ef;
                    }
                }
                .weekdays {
                    display: flex;
                    justify-content: space-between;
                    color: $beige;
                    div {
                        width: 4.1875rem;
                        height: 1.875rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                }
            }
            .grid-hiderows {
                grid-template-rows: var(--calendarGrid);
            }
            .calendarDays .row {
                grid-template-columns: repeat(7, 4.1875rem);
                grid-auto-rows: 4.1875rem;
                .days-dates,
                .daysGone {
                    width: 3.8125rem;
                    height: 3.8125rem;
                    font-size: $font-20;
                }
                .days-dates:hover {
                    width: 3.5rem;
                    height: 3.5rem;
                }
                .nextMonthDates {
                    border-radius: 0 0 0 0;
                    background-color: $medium-beige;
                    color: rgba(0, 0, 0, 0.25);
                    margin: auto;
                    width: 100%;
                    height: 100%;
                }
                .dateOne {
                    border-radius: 1.875rem 0 0 0;
                    &:hover {
                        border-radius: 1.875rem 0 0 0;
                    }
                }
                .dateOneTop {
                    border-radius: 0 0 1.875rem 0;
                    &:hover {
                        border-radius: 0 0 1.875rem 0;
                    }
                }
                .firstDateCss {
                    border: 0.125rem solid $orange;
                    width: 3.25rem;
                    height: 3.25rem;
                    color: $orange;
                }
                .secondDateCss {
                    border: 0.125rem solid $orange;
                    width: 3.25rem;
                    height: 3.25rem;
                    background-color: $orange;
                    color: white;
                }
            }
            .choose {
                font-size: $font-20;
            }

            .opened {
                font-size: $font-20;
            }
        }
        .pre-reserv .Reservation {
            &__reservationForm {
                max-width: 62.5rem;
                margin-top: 6.25rem;
                margin-bottom: 6.25rem;
                background: $white;
                border-radius: 1.875rem;
                &-exit {
                    width: 6.25rem;
                    height: 6.25rem;
                    top: auto;
                    right: -1.875rem;
                    svg {
                        width: 2.9125rem;
                        height: 2.9125rem;
                        fill: $deepblue;
                    }
                }
                .ReservationHeaderBlock {
                    color: $deepblue;
                    display: flex !important;
                    justify-content: space-between;
                    .ReservationInfo {
                        margin: 0;
                        display: grid;
                        &-date {
                            padding-top: 1.0625rem;
                            font-family: $playfair-font;
                            font-size: $font-35;
                        }
                        &-hours {
                            text-align: right;
                            font-size: $font-20;
                        }
                    }
                }

                .reservationForm {
                    .containerWave {
                        opacity: 1;
                    }
                    padding-bottom: 5.5rem;
                    margin-top: 1.875rem;
                    .container {
                        padding-top: 6.25rem;
                        .form-grid {
                            grid-template-columns: auto auto;
                            grid-column-gap: 1.875rem;
                            grid-row-gap: 1.875rem;
                        }
                        .reservationForm__additional {
                            padding-left: 2.5rem;
                            padding-right: 2.5rem;
                            padding-top: 1.25rem;
                            padding-bottom: 1.25rem;
                            &-item {
                                .tux {
                                    width: 4.375rem;
                                    height: 4.375rem;
                                }
                                div {
                                    padding: 0;
                                    display: flex;
                                }
                                span {
                                    font-size: $font-35;
                                    padding-left: 2.5rem;
                                    padding-right: 1.875rem;
                                }
                            }
                        }
                    }
                    &__select-inner,
                    input,
                    &__select-list div,
                    textarea {
                        font-size: 1.5625rem;
                    }
                    textarea {
                        margin-bottom: 1.875rem;
                        grid-column: 1 / -1;
                        height: 10.625rem;
                    }
                }
                .SummaryBlock-wrap {
                    border-radius: 1.875rem;

                    .SummaryBlock {
                        font-size: $font-20;
                        &__costs {
                            &-item {
                                div {
                                    display: flex;
                                }
                            }
                            &-total {
                                font-family: $playfair-font;
                                font-size: $font-35;
                            }
                        }
                        &__voucher {
                            margin-top: 3.5625rem;
                            &-text {
                                font-size: 1.5625rem;
                            }
                            &-button {
                                width: 5.75rem;
                            }
                        }
                        &__payingMethods {
                            padding-top: 3.4375rem;
                            &-item {
                                display: flex;
                                padding-bottom: 1.125rem;
                            }
                        }
                        &__rezervovat {
                            margin-top: 5.625rem;
                        }
                    }
                }
            }
        }
    }

    .GiftCardsBlock {
        padding-top: 6.25rem;
        padding-bottom: 8.4375rem;
        padding-left: 8.4375rem;
        padding-right: 8.4375rem;
        max-width: 60.625rem;
        justify-content: left;
        .titleContainer {
            width: fit-content;
        }
        .dropletContainer {
            grid-template-columns: auto auto;
            grid-column-gap: 1.25rem;
            .droplet {
                width: 16.875rem;
                height: 20.5rem;
                overflow: hidden;
                #buyNow {
                    width: 7.5rem;
                    height: 7.5rem;
                    top: -19.375rem;
                    left: 10rem;
                }
            }
        }
    }
    .footer {
        .containerWave {
            width: 100%;
            height: 1.375rem;
        }
        .content {
            .carouselContainer {
                padding-top: 8.1875rem;
                .footer__carousel {
                    &-nextBtn,
                    &-prevBtn {
                        z-index: 1;
                        &:hover {
                            width: 4.375rem;
                            height: 4.375rem;
                            bottom: 49.5%;
                        }
                    }
                    &-slide {
                        font-weight: 300;
                        font-size: 3.125rem;
                        line-height: 150%;
                        width: 48.125rem;
                    }
                }
                .buttons {
                    padding-top: 0px;
                    margin-top: -6.25rem;
                    height: 4.375rem;
                    justify-content: space-between;
                }
                .wave {
                    padding-top: 3.125rem;
                    padding-bottom: 2.75rem;
                    width: 100%;
                    height: min-content;
                }
            }
            &__number {
                font-size: 6.25rem;
                line-height: 8.3125rem;
            }
        }
    }
}

@media only screen and (min-width: $droplet-breakpoint) {
    .GiftCardsBlock {
        .dropletContainer {
            margin-left: -6.25rem;
            grid-template-columns: auto auto auto auto;
        }
    }
}

@media only screen and (min-width: $AdditionalComponent-breakpoint) {
    .reservationForm__additional {
        .wrap {
            display: flex;
        }
    }
}
